*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
			box-sizing:border-box;
			 background: linear-gradient(#f9d8b1, #c8b88e);
        }
        
        
        header {
            background: transparent;
            padding: 20px;
            width: 100%;
            box-sizing: border-box;
            
        }
        span{
            margin-left:200px;
        }
	
	
	 nav {
        justify-content: center;
            display: flex;
            align-items: center;
            background-color:transparent;
            padding: 10px 20px;
            
        }
		
        .logo {
            display: flex;
            align-items: center;
            margin-right:120px;       
            height: 30px;
            margin-right: 10px;
        }
		
		  .search-form {
            display: flex;
		  }

        .search-form input[type="text"] {
            padding: 6px;
            border: none;
            border-radius: 10px;
        }

        .search-form button {
            padding: 6px 10px;
            border: none;
            border-radius: 10px;
            color: #fff;
            
            background-color: #333;
        }
		
		
		.container {
            width: 100%;
			  margin: auto;
			  height:350px;
			  display:flex;
              justify-content: center;
             
		}
        .detalhes{
            margin-left: 10px;
            background-color: #fff;
            padding: 20px;
            width:50%;
            display:flex;
            align-items: column;
            flex-direction: column;
        }
		#texto{

            display: flex;
            flex-direction: row;
        }
		#botoesPrincipais{
            display: flex;
        }
        #botoesPrincipais button{
            color:#2B2929;
            text-align: center;
            margin-top: 150px;
        }
        #aux{
            width: 100%;
            margin-top: 15px;
        }
		
		.container button{
            font-size: large;
			 width:250px;
			  height:65px;
              margin-top: auto;
			  margin-left: 25px;
			  margin-right: 25px;
			  background: linear-gradient(#ffe4c4, #c6b792);
			   border: none;
            color: #fff;
		}
		.container p{
            display: flex;
        }
		.botao{
            display:flex ;
			background: white;
			 width: 1205px;
			 height:100px;
             margin:auto;
			  
		}
        #searchbar{
            max-width:350px;
            min-width:150px;
        }
        .botao button{
            font-size: large;
            padding: 10px;
            height:55px;
            margin:auto;
            background: linear-gradient(#ffe4c4, #c6b792);
            border: none;
            color: #2B2929;
		}
		
		
	 .flex-container {
        margin: 20px auto;
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
			
        }

        .grid-item {
            width:180px;
            height:180px;
            margin-left: 5px;
            margin-bottom: 5px;
            border: 1px solid #ccc;
            padding: 20px;
            background-color: #FFF8DC;
        }

		   .t {
           
            max-width: 300px;
			height: 30px;
            margin: 0 auto;
            padding: 20px;
            background-color: #FFF8DC;
          
        }
	 
	
