@import url('https://fonts.googleapis.com/css2?family= Playfair + Display:ital@1 & display=swap');
/* Importação*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    background: linear-gradient(#f9d8b1, #c8b88e);
}

 header {
      background: transparent;
      padding: 20px;
      width: 100%;
      box-sizing: border-box;
}

nav {
        justify-content: center;
	display: flex;
	align-items: center;
        background-color:transparent;
        padding: 10px 20px;
 }

#conta{
    transition: all ease-in .25s;
    margin-left: 200px;
    width: 50px;
    height: 50px;
}	

.search-form {
    display: flex;
}

.search-form input[type="text"] {
     padding: 6px;
     border: none;
     border-radius: 10px;
     width: 250px;
}

.search-form button {
     padding: 6px 10px;
     border: none;
     border-radius: 10px;
     color: #fff;
     cursor: pointer;
     background-color: #333;
     font-family: FreeMono, monospace;
 }

 #logo{
     margin-right: 25px;
     border-radius: 50%;
     height: 100px;
     width: 100px;
                   
 }	

.container {
      width: 85%;
      margin: auto;
      height:350px;
      display:flex;
      justify-content: center;
}
.container h1{
        font-family: 'Playfair Display', serif; 
}
.container p{
        font-family: 'Playfair Display', serif; 
}
.container h2{
        font-family: 'Playfair Display', serif; 
}

 .detalhes{
      margin-left: 10px;
      background-color: #fff;
      padding: 20px;
      width:50%;
      display:flex;
      align-items: column;
      flex-direction: column;
}

#texto{
	display: flex;
	flex-direction: row;
 }

#botoesPrincipais{
       display: flex;
 }

 #botoesPrincipais button{
        margin-top:25px;
        font-family: FreeMono, monospace;
        border-radius: 20px;
        color:#2B2929;
        text-align: center;
        transition: all ease-in-out .25s;
}

#botoesPrincipais button:hover{
        border-radius: 15px;
        color:#2B2929;
        text-align: center;
        background: linear-gradient(30deg,#dda886, #f1d53b);
        color:#fff;
            
 }

 #aux{
       width: 85%;
       margin: 15px auto;
}

.container button{
        cursor: pointer;
        font-size: large;
	width:250px;
	height:65px;
        margin-top: auto;
	margin-left: 25px;
	margin-right: 25px;
        background: linear-gradient(#ffe4c4, #c6b792);
	border: none;
        color: #fff;
}

.container p{
        display: flex;
 }

.botao{
     border-radius: 10px;
     display:flex ;
     background: white;
     width: 85%;
     height: 15rem;
     margin:auto;
}

.botao button{
      font-size: large;
      padding: 10px;
      height:55px;
      margin:auto;
      background: linear-gradient(#ffe4c4, #c6b792);
      border: none;
      color: #2B2929;
      font-family: FreeMono, monospace;
}

.flex-container {
	margin: 20px auto;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
 }

footer{
      margin-top: 250px;
      background-color: #333;
      font-size: 24px;
      text-align: center;
      color: #fff;
      padding: 20px;
      font-family: OCR A Std, monospace;
}

 .grid-item {
       width:180px;
       height:180px;
       margin-left: 20px;
       margin-bottom:20px;
       border: 1px solid #ccc;
       padding: 20px;
       background-color: #FFF8DC;
}

 .t {
       max-width: 300px;
       height: 30px;
       margin: 0 auto;
       padding: 20px;
       background-color: #FFF8DC;
 }

h2{
	font-size: 40px;
        display: flex;
        justify-content: center;
        font-family: OCR A Std, monospace;
}

#h2inicial{
       margin-top: 30px;      
}

  #container_compressao{
        width: 100%;
        margin: auto;
}

  #conta:hover{
         width:60px;
         height:60px;
 }
 #preco {
        display: flex;
        align-items: start;
        justify-content: flex-start;
}
